{% extends 'base.html.twig' %}

{% block title %}Catégorie{{ category.name }}{% endblock %}

{% block body %}
    <h1>Produits de la catégorie {{ category.name }}</h1>
    {% include'incs/product_list.html.twig' with {productList : category.products} %}

{% endblock %}